* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 30px;
}
/* navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold ;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(29, 23, 1);
    padding: 8px 30px;
    transition: all ease;
}

.navbar ul li a:hover {
    background-color: rgb(31, 31, 31);
    color: darkorange;
    box-shadow: 0 0 10px gold;
    border-radius: 10px;
}

/* section here */

#home {
    display: flex;
    flex-direction: column;
    height: 850px;
    justify-content: center;
    align-items: center;
    color: black;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("Images/portfolio3.jpg")no-repeat center center /cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .9;
}

.main {
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
    /*background: darkkhaki;*/
}

.heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 40px 0px;
    text-shadow: darkkhaki 2px 2px;
}

.btn {
    padding: 10px 35px;
    background-color: bisque;
    border: none;
    color: orange;
    outline: none;
    transition: .6s ease;
}

.btn:hover {
    cursor: pointer;
    background-color: gold;
    color: black;
    border-radius: 15px;
    box-shadow: 5px white 10px white 15px white;
    font-weight: bold;
}

/* About */

#aboutme {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

.pic {
    display: flex;
}

.pic img {
    height: 400px;
    width: 575px;
    margin: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px;
}



.intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    background-color: bisque;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#aboutme .skills{
    padding:1rem 0;
    background-color: beige;
}

#aboutme .skills .progress{
    margin:1.5rem 0;
    padding:1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    background: rgba(255,255,255,.2);
    border-radius: 1rem;
}

#aboutme .skills .progress h3{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color:blueviolet;
}

#aboutme .skills .progress .bar{
    position: relative;
    width: 100%;
    height:.3rem;
    margin:1rem 0;
    background:blue;
}

#aboutme .skills .progress .bar span{
    position: absolute;
    top:0; left: 0;
    height:100%;
    width:100%;
    background:burlywood;
}
#aboutme .skills .progress:nth-child(1) .bar span{
    width:95%;
}

#aboutme .skills .progress:nth-child(2) .bar span{
    width:85%;
}

#aboutme .skills .progress:nth-child(3) .bar span{
    width:70%;
}

#aboutme .skills .progress:nth-child(4) .bar span{
    width:65%;
}

#aboutme .skills .progress:nth-child(5) .bar span{
    width:65%;
}

/* Education*/

#education .box-container{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
    padding:2rem 0;
    margin: 25px;
    background-color: blanchedalmond;
}

#education .box-container .box{
    width:30rem;
    padding:0 2rem;
    padding-bottom: 4rem;
    border-left: .2rem solid rgb(110, 17, 17);
    margin: 5px;
}

#education .box-container .box .year{
    font-size: 2rem;
    color:rgb(238, 238, 238);
    position: relative;
}

#education .box-container .box .year::before{
    content:'';
    position: absolute;
    top:.3rem; left: -3.1rem;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background:#183168;
}

#education .box-container .box h3{
    font-size: 2rem;
    color:rgb(255, 255, 255);
    padding-top: 1rem;
}

#education .box-container .box p{
    font-size: 1.3rem;
    color:rgb(238, 238, 238);
    padding: 1rem 0;
}

.heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Contact */

#contact .row{
    display: flex;
    justify-content: space-between;
    padding-top: 7rem;
    align-items: center;
}

#contact .row form{
    background:rgb(194, 191, 191);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding:1rem 2rem;
    flex-wrap: wrap;
}

#contact .row form .box{
    background-color: bisque;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    padding:0 1rem;
    margin:1rem 0;
    height:4rem;
    width:49%;
    font-size: 1.7rem;
    color:beige;
    text-transform: none;
}

#contact .row form .box::placeholder{
    text-transform: capitalize;
    color:grey;
}

#contact .row form .message{
    padding:1rem;
    height:15rem;
    resize: none;
    width:100%;
}

#contact .row form .btn{
    margin-bottom: 1rem;
}

#contact .row .content{
    padding:0 5rem;
}

#contact .row .content .icons{
    padding:1rem 0;
}

#contact .row .content .icons h3{
    padding:1rem 0;
    font-size: 2rem;
    color:green;
    display: flex;
}

#contact .row .content .icons h3 i{
    padding-right: .5rem;
}

#contact .row .content .icons p{
    font-size: 1.5rem;
    color:greenyellow;
}

